/* .blog-wrap {
  max-width: 700px;
  margin: 1rem auto;
}



.blog-wrap header {
  text-align: center;
}

.blog-date {
  font-size: 0.8rem;
  color: #a9a9a9;
  font-weight: 500;
}

.blog-wrap img {
  width: 100%;
}

.blog-subCategory {
  display: flex;
  justify-content: center;
}

.blog-subCategory > div {
  margin: 1rem;
}

.blog-desc {
  padding: 1rem;
  margin-top: 1.5rem;
} */

/* .blog-goBack {
  text-decoration: none;
  font-size: 0.8rem;
  color: #a9a9a9;
  font-weight: 500;
  margin-bottom: 2rem;
  margin-top: 0.5rem;
  display: block;
  margin-left: 1rem;
} */

.blog-title-box {
  z-index: 5;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: 100vh;
  position: relative;
}

.Single {
  /* position: relative; */
  width: 100%;
  margin-bottom: 10px;
}

.blog-title {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
  /* padding-top: 636px; */
  padding-top: 90vh;
  color: white;
  padding-left: 9px;
}

.data {
  /* border: solid 0.5px #dad9cf;
  padding: 32px;
  background: #dad9cf;
  margin: 35px;
  margin-left: 379px;
  width: 754px; */
  background: #fff;
  border: solid 1px #00003e;
  padding: 1rem;
  width: 55vw;
  margin: 2rem auto 2rem 1rem;
  font-weight: 500;
}

.meta-info {
  margin-bottom: 0.5rem;
  font-size: 1rem;
}

.author {
  font-weight: 700;
}

.text-start {
  font-size: 0.875rem;
  margin-top: 0.5rem;
  line-height: 1.2rem;
  text-align: justify;
}

@media screen and (max-width: 650px) {
  .data {
    width: 80vw;
    margin: 2rem 1rem 2rem 3rem;
  }
}

@media screen and (max-width: 500px) {
  .blog-title {
    font-size: 0.8rem;
    padding-top: 92vh;
  }
}

@media screen and (max-width: 450px) {
  .blog-title {
    font-size: 0.75rem;
  }

  .data {
    width: 90vw;
    margin: 1rem 0.8rem 1rem 0.8rem;
  }

  .meta-info {
    font-size: 0.875rem;
  }

  .text-start {
    font-size: 0.75rem;
    line-height: 1rem;
  }
}

@media screen and (max-width: 380px) {
  .meta-info {
    font-size: 0.8rem;
  }

  .data {
    margin: 1rem 0.8rem 1rem 0.6rem;
  }

  .blog-title {
    font-size: 0.7rem;
    padding-top: 90vh;
  }
}

@media screen and (max-width: 270px) {
  .data {
    margin: 1rem 0 1rem 0.3rem;
  }

  .meta-info {
    font-size: 0.75rem;
  }

  .blog-title {
    font-size: 0.6rem;
  }
}
