/* .footer {
  background-color: black;
  margin-top: 64px;
}

.footer-h3 {
  color: white;
  font-size: 1.5vmax;
  text-align: center;
  margin-bottom: 0;
  height: 5vmax;
}

.footer-p {
  color: white;
  text-align: center;
  font-size: 1.5vmax;
} */
